streamlit
plotly
pandas
numpy
python-dotenv
langchain
langchain_google_genai
langchain-community
langchain_chroma  # New package replacing chromadb
langchain_experimental
pysqlite3-binary>=0.5.0  # Ensures a recent SQLite version
